﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -BookShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication7.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>


        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" asp-controller="Home" asp-action="Index">

                        <img style="margin-top:-10px;" src="https://i.pinimg.com/originals/95/f8/58/95f8588d6469a16271ea2d2fad419d00.png"
                             height="50"
                             alt="MDB Logo"
                             loading="lazy" />
                    </a>


                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="login">sign in</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="reset">forget password</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="register">sign up</a>
                        </li> *@

    


                    </ul>
                    <partial name="_loginpartial" />
                    <!-- Left links -->
                    <a src="" class="nav-link" asp-controller="ShoppingCart" asp-action="Cart"> <i class="fa fa-shopping-cart" style="font-size:30px"> </i>  </a>
                    <p><small>counter</small></p>


                </div>

                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <!-- Right elements -->
            </div>

            <!-- Container wrapper -->
        </nav>

        <!-- Navbar -->



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>